@import url(https://fonts.googleapis.com/css?family=Heebo&display=swap);


.animal {
    margin-bottom: 90px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
    transform: scale(1);
    margin-right: 90px;
    width: 349px;
    border-radius: 15px;
    height: 327px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    
}

.picture {
    height: 260px;
    border-radius: 15px 15px 0px 0px;
} 

.user_logo {
    margin-left: 5px;
    background-color: #d21312;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 7px;
}
.first_letter {
    font-size: 25px;
}

.animalInfo {
    font-weight: bold;
    color: black;
    font-family: "Heebo";
    
}

.info {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
    margin-left: 15px;
    
    
}
