.animal_container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.animal_card_container {
    display: inline;
    padding: 20px;
}
.animalInfo {
    font-weight: bold;
}
.animal {
    float: left;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-right: 20px;
    width: 350px;
    border-radius: 10px;
    
}
.info {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
}
.user_logo {
    margin-left: 5px;
    background-color: #d21312;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 7px;
}
.first_letter {
    font-size: 25px;
}
.picture {
    border-radius: 10px 10px 0px 0px;
}