@import url(https://fonts.googleapis.com/css?family=Heebo&display=swap);
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Heebo";
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}